.container__clients {
  padding-top: 120px;
  padding-bottom: 90px;
}

.clients__slider {
  margin-top: 70px;
}

.clients__text {
  text-align: center;
}

.clients__slide-name {
  font-family: 'SourceSansPro';
  font-size: 1.06rem;
  color: $main-text;
  font-weight: 600;

  &_italic {
    font-style: italic;
    font-weight: 400;
  }
}

.clients__slide-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.clients__slide {
  width: 557px;
  height: 330px;
  position: relative;

  &-container {
    width: 100%;
    height: 270px;
    border: 1px solid rgba(20,20,20,.1);
    border-radius: 1px;
    position: absolute;
    bottom: 0;
  }
}

.clients__slide-pic {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clients__slide-desc {
  font-family: 'SourceSansPro';
  font-size: 1.06rem;
  color: $main-text;

  text-align: center;
  width: 82%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 95px;
}

.clients__slide-rate {
  margin: 0 auto;
  width: 84px;
  height: 14px;
  background: url(../images/clients/star-sprite.png);
  position: relative;

  &-cover {
    display: block;
    position: absolute;
    //change width (step 20%)//
    width: 100%;
    height: 100%;
    background: url(../images/clients/star-sprite.png) left bottom;
    
  }
}

.clients__slide-name {
  text-align: center;
  margin-top: 20px;
}


.clients__slider-arrow {
  width: 48px;
  height: 48px;
  background-color: $main-interface;
  border-radius: 50%;
}