.feature {
  background-color: $background;
}

.container_feature {
  padding-top: 110px;
}

////styling text////
.feature__caption {
  text-align: center;
}

.feature__main-text {
  text-align: center;
}

////styling and positioning tiles////
.feature__tile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 100px;
  margin-bottom: 145px;
}

.feature__tile-item {
  width: 360px;
  height: 360px;
  margin-bottom: 25px;
}

.feature__pic {
  width: 100%;
  height: 100%;
}