.header {
  width: 100%;
  height: 135px;
  position: absolute;
  z-index: 1;
}

.container_header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.logo-rectangle {
  width: 149px;
  height: 55px;
  opacity: 0.6;
  border: 3px solid #170f1c;
  border-radius: 2px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2.38rem;
  font-weight: 600;
  color: $color-logo;
}

.logo-title_highlight {
  color: $color-logo-highlight;
  opacity: .7;
}

.logo-title {
  margin-top: -4px;
}

.header__logo {
  width: 50%;
  display: flex;
  align-items: flex-end;
}

.header__menu-container {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


////Styling Menu button////
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.menu-btn__shape {
  position: absolute;
  top: 50%; margin-top: -2px;
  left: 50%; margin-left: -17px;
  width: 34px;
  height: 4px;
  border-radius: 1.5px;
  background-color: #706c72;
  transition: .5s;
  
  ///active class burger menu button (color transition)
  &_mouseover {
    background-color: $main-interface;
    &:after {
      background-color: $main-interface;
    }
    &:before {
      background-color: $main-interface;
    }
  }
  &_mouseout {
    background-color: #706c72;
    &:after {
      background-color: #706c72;
    }
    &:before {
      background-color: #706c72;
    }
  }

  ///animate burger menu button on click
  &:before { 
    transform: translateY(-8px);
  }
  &:after { 
    transform: translateY(8px);
  }
  
  &_active {
    height: 0;
  }
  &_active:before {
    transform: rotate(-45deg);
  }
  &_active:after {
    transform: rotate(45deg);
  }
}

.menu-btn__shape:before,
.menu-btn__shape:after {
  @extend .menu-btn__shape;
  content: "";
  display: block;
}



.menu__item {
  font-family: 'OpenSans';
  text-decoration: none;
  color: #706c72;
  text-transform: uppercase;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  transition: .5s;

  &:hover {
    color: $main-interface;
  }
}

.header__menu {
  transition: 0.2s;
  transform: scaleX(0) translateX(0%);
  transform-origin: right center;
  opacity: 0;
  visibility: hidden;
}

.header__menu_active {
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
}