.partners {
  min-height: 200px;
  background-color: $background;
}

.container_partners {
  padding-top: 77px;
  
  @include tablet {
    padding-top: 47px;
  }
}

.partners__list {
  display: flex;
  justify-content: center;
  padding: 5px;

  @include laptop {
    flex-wrap: wrap;
  }
}

.partners__link {
  display: block;
  height: 100%;
  text-align: center;
}

.partners__item {
  margin: 5px;
  width: 200px;
  height: 27px;

  @include laptop {
    width: 150px;
  }
}

.partners__icon {
  height: 100%;
  opacity: .5;

  @include laptop {
    height: 80%;
  }

  &:hover, :focus {
    opacity: .8;
  }
}