.container_service {
  min-height: 927px;

  @include tablet {
    min-height: 600px;
  }
}
////layout with grid template////
.service__grid-container {
  display: grid;
  grid-template: 
    "caption caption" 330px
    "article image"
    /72% 28%;

    @include tablet {
      grid-template: 
      "caption caption" 250px
      "article image"
      /72% 28%;
      margin-bottom: 75px;
    }
    @include phone {
      grid-template: 
      "caption caption" 180px
      "article article"
      /72% 28%;
      margin-bottom: 50px;

    }
}

.service__text {
  grid-area: caption;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service__img {
  grid-area: image;
  margin-top: 20px;

  @include phone {
    display: none;
  }
}

////styling article icons
.service__icon-item {
  width: 104px;
  height: 92px;border-radius: 2px;
  box-shadow: 0 0 1px 0 rgba(20, 20, 21, 0.14);
  background-color: #fbfbfb;
  position: relative;
  margin-bottom: 10px;
  &_circle {
    &:after {
      @include service-icon(61px, 62px, top, left);
      transform: translate(-11px, -5px)
    }
  }
  &_cogwheel {
    &:after {
      @include service-icon(84px, 87px, bottom, left);
      transform: translate(5px, 15px)
    }
  }
  &_magnifier {
    &:after {
      @include service-icon(88px, 62px, top, right);
      transform: translate(5px, -10px)
    }
  }

  @include phone {
    transform: scaleX(.7) scaleY(.7);
  }
}

////styling article////
.service__article {
  grid-area: article;
  margin-top: 10px;
  display: flex;
  
  &-caption {
    font-family: 'OpenSans';
    font-size: 1.875rem;
    color: $main-text;
    font-size: 1.875rem;
    margin-bottom: 30px;
    @include tablet {
      font-size: 1.5rem;
    }
    @include phone {
      font-size: 1.2rem;
    }
  }
  
  &-text {
    font-family: 'OpenSans';
    font-size: 1rem;
    color: $main-text;
    @include phone {
      font-size: .8rem;
    }
    
  }
  &-content {
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    margin-right: 10%;
    @include phone {
      margin-left: 5%;
    }
  }
}

////styling button
.service__article-btn {
  @extend .btn;
  
  position: relative;
  margin-top: 40px;

  &:hover {
    box-shadow: 1px 5.9px 14px 0 rgba(20, 20, 21, 0.09);
  }
}

.service__article-btn-title {
  @extend .btn__title;
}

.service__article-btn-shape {
  @extend .btn__shape;
}





