.team {
  background-color: $background;
}

.team__text {
  text-align: center;
}

.container_team {
  min-height: 964px;
  padding-top: 120px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
}

.team__list-item {
  width: 360px;
  height: 445px;
  background-color: burlywood;
  position: relative;

}
///syling nameplate////
.team__nameplate {

  text-align: center;
  position: absolute;
  width: 73%;
  height: 20%;
  bottom: 0;
  left: 50%;

  cursor: pointer;
  
  transform: translate(-50%, 25px);
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 1px 5.9px 16px 0 rgba(20, 20, 21, 0.08);
  transition: .5s;

  &_active {
    left: 0;
    background: linear-gradient(to top, rgba(255, 243, 240, 1), rgba(255, 243, 240, .5), rgba(255, 243, 240, 0));
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    transform: translateY(0);
    .team__nameplate-desc {
    transform: translate(-50%, -30px);
    }
    .team__nameplate-name {
    transform: translate(-50%, -50px);
    }
  }

  &-name {
    font-family: 'OpenSans';
    font-size: 1.875rem;
    color: $main-text;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -40px);
  }

  &-desc {
    font-family: 'OpenSans';
    font-size: 1rem;
    color: $main-text;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20px);
  }
}

////styling socials////
.team__socials-icon {
  width: 20px;
  height: 20px;
}

.team__socials-list {
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0px);
  transition: .1s;
  
  &_active {
    opacity: 1;
    display: flex;
    justify-content: center;
  }
}


////Scales of teammate skills////
.team__scales {
  width: 157px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: .5s;

  &_active {
  transform: translate(-50%, -50%) scale(1);
  }

  &-desc {
    font-family: 'OpenSans';
    font-size: .69rem;
    margin-bottom: 5px;
  }
}

.team__scales-line {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background-color: #817f7e;
  border-radius: 1.5px;

  //scales of second teaamate B
  &_design-b {
    &:after {
      @include scale-percent(73%);
    }
  }
  &_english-b {
    &:after {
      @include scale-percent(63%);
    }
  }
  &_comm-b {
    &:after {
      @include scale-percent(48%);
    }
  }

  //scales of second teaamate C
  &_design-c {
    &:after {
      @include scale-percent(80%);
    }
  }
  &_english-c {
    &:after {
      @include scale-percent(76%);
    }
  }
  &_comm-c {
    &:after {
      @include scale-percent(80%);
    }
  }
  
  
}

