// modify container of 'work' section
.container_work {
  min-height: 775px;
  padding-top: 135px;
  @include tablet {
    padding-top: 75px;
  }
  @include tablet {
    padding-top: 60px;
  }
}

.work__text {
  text-align: center;
}

////positioning tiles//// 
.work__tile-container {
  @include laptop {
    display: flex;
    justify-content: center;
  }
  @include tablet {
    margin-bottom: 40px;
  }
}
.work__tile-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 105px;
  
  @include laptop {
    width: 768px;
    margin-top: 65px;
  }
  @include tablet {
    width: 100%;
  }
}

////styling tiles////
.work__tile-item {
  margin-bottom: 30px;
  
  width: 262px;
  height: 263px;
  position: relative;
  //flex child elements
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //modify tile colors
  &_color-blue {
    background-color: #4eb2f7;
  }
  &_color-heliotrope {
    background-color: #c049f8;
  }
  &_color-periwinkle {
    background-color: #817eff;
  }
  &_color-watermelon {
    background-color: #f74770;
  }

  @include laptop {
    margin-bottom: 50px;
  }
}

.work__tile-text {
  font-family: 'OpenSans';
  font-size: .938rem;
  color: $tile-text;
  text-align: center;
  width: 80%;
  margin-top: 10px;
}

.work__tile-title {
  font-family: 'OpenSans';
  font-size: 1.25rem;
  color: $tile-title;
  text-transform: capitalize;
  text-align: center;
  width: 80%;
  position: relative;

  //add icons to tiles
  &_magnet {
    &:after {
      background: url(../images/magnet.png) no-repeat;
      background-size: cover;
      width: 43px;
      height: 44px;
      @extend .tile-icon;
    }
  }

  &_bug {
    &:after {
      background: url(../images/bug.png) no-repeat;
      background-size: cover;
      width: 54px;
      height: 50px;
      @extend .tile-icon;
    }
  }

  &_cogwheel {
    &:after {
      background: url(../images/cogwheel.png) no-repeat;
      background-size: cover;
      width: 54px;
      height: 50px;
      @extend .tile-icon;
    }
  }

  &_photo {
    &:after {
      background: url(../images/photo.png) no-repeat;
      background-size: cover;
      width: 56px;
      height: 52px;
      @extend .tile-icon;
    }
  }
}


////styling button/////
.work-btn {
  @extend .btn;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  transition: .3s;

  &:hover {
    box-shadow: 1px 5.9px 14px 0 rgba(20, 20, 21, 0.09);
  }

  //position of button text and shape 
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: row-reverse;
}

.work-btn__title {
  @extend .btn__title;
}

.work-btn__shape {
  @extend .btn__shape;
}