//caption style
.caption {
  font-family: 'OpenSans';
  font-size: 3.125rem;
  font-weight: 600;
  color: $caption;
  text-transform: capitalize;

  &_highlighted {
    color: $caption-highlight;
  }
  @include tablet {
    font-size: 2rem;
  }
  @include phone {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}

//main-text style
.main-text {
  font-family: 'OpenSans';
  font-size: 1rem;
  color: $main-text;
  @include phone {
    font-size: .8rem;
  }
}

//styling btns
.btn {
  background-color: $btn;
  width: 228px;
  height: 55px;
  border: 1px solid rgba(20, 20, 21, 0.07);
  border-radius: 27px;
  outline: none;

  @include phone {
    width: 180px;
    height: 40px;
  }
}

//btn title & bnt shape
.btn__shape {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: $btn-title;
  border-radius: 1px;
  @include phone {
    width: 12px;
  }

  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);

  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: $btn-title;
    border-radius: 1px;
    transform: rotate(90deg);
    @include phone {
    width: 12px;
    }
  }
}

.btn__title {
  margin-left: 20px;
  font-family: 'OpenSans';
  font-size: 1rem;
  text-align: center;
  color: $btn-title;

  @include phone {
    font-size: .8rem;
  }
}


//tile icon style on section Work
.tile-icon {
  content: "";
  display: block;
  background-size: cover;
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
}

//service article icon mixin
@mixin service-icon($width, $height, $vertical, $horizontal) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/service/service-sprite.png);
  background-position: $vertical $horizontal;
  background-repeat: no-repeat;
}

//social icons in footer
@mixin footer-socials-icon($width, $height, $vertical, $horizontal) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/footer/footer-sprite-socials.png);
  background-position: $vertical $horizontal;
}

//scales of 'team' section
@mixin scale-percent($width) {
  content: "";
  width: $width;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #ff6e47;
}