//caption style
.caption {
  font-family: 'OpenSans';
  font-size: 3.125rem;
  font-weight: 600;
  color: $caption;
  text-transform: capitalize;

  &_highlighted {
    color: $caption-highlight;
  }
}

//main-text style
.main-text {
  font-family: 'OpenSans';
  font-size: 1rem;
  color: $main-text;
}

//styling btn title and btn shape "plus"
.btn__shape {
  content: "";
  display: block;
  width: 16px;
  height: 2px;
  background-color: $btn-title;
  border-radius: 1px;
  &:after {
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background-color: $btn-title;
    border-radius: 1px;
    transform: rotate(90deg);
  }
}

.btn__title {
  margin-left: 20px;
  font-family: 'OpenSans';
  font-size: 1rem;
  text-align: center;
  color: $btn-title;
}


// tile icon style
.tile-icon {
  content: "";
  display: block;
  background-size: cover;
  position: absolute;
  top: -63px;
  left: 50%;
  transform: translateX(-50%);
}

//service article icon mixin
@mixin service-icon($width, $height, $vertical, $horizontal) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../images/service/service-sprite.png);
  background-position: $vertical $horizontal;
  background-repeat: no-repeat;
}

//social icons in footer
@mixin footer-socials-icon($width, $height, $vertical, $horizontal) {
  content: "";
  display: block;
  width: $width;
  height: $height;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/footer/footer-sprite-socials.png);
  background-position: $vertical $horizontal;
}

//scales of 'team' section
@mixin scale-percent($width) {
  content: "";
  width: $width;
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #ff6e47;
}