// colors from section 'hero'
$color-logo: rgba(0, 0, 0, 1);
$color-logo-highlight: rgba(252, 103, 68, 1);
$hero-caption: rgba(98, 98, 98, 0.94);
$hero-caption-highlight: rgba(252, 103, 68, 0.94);

// main text color
$main-text: rgba(0, 0, 0, 0.6);

// caption color
$caption: rgba(0, 0, 0, 0.8);
$caption-highlight: rgba(252, 103, 68, 0.8);

// color of main interface (btns, socials etc.)
$main-interface: #ff5c36;


// form color
$form-title: rgba(33, 26, 24, 0.9);

//btns, tiles text color (section 'work')
$tile-title: rgba(255, 255, 255, 0.9);
$tile-text: rgba(255, 255, 255, 0.75);
$work-btn: #ffffff;
$work-btn-title: rgba(0, 0, 0, 0.7);


